@inject IJSRuntime JS
@if (IsDisabled)
{
    <button id="@_buttonId" disabled type="@Type" @onclick="ClickAsync" class="@(AdditionalCssClass == string.Empty ? string.Empty : AdditionalCssClass + " ")text-white cursor-wait relative inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        <div class="visible flex" id="@_contentButtonId">
            @ChildContent
            @Label
        </div>
    </button>
}
else
{
    <button id="@_buttonId" type="@Type" @onclick="ClickAsync" class="@(AdditionalCssClass == string.Empty ? string.Empty : AdditionalCssClass + " ")text-white relative inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        <div class="visible flex" id="@_contentButtonId">
            @ChildContent
            @Label
        </div>
        <div class="hidden absolute text-center m-auto left-0 right-0" id="@_spinnerButtonId">
            <svg aria-hidden="true" class="inline w-7 h-7 text-gray-200 animate-spin dark:text-gray-200 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor" />
                <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill" />
            </svg>
        </div>
    </button>
}


@code {
    [Parameter]
    public string Label { get; set; } = "button";
    [Parameter]
    public string Type { get; set; } = "button";
    [Parameter]
    public string AdditionalCssClass { get; set; } = string.Empty;
    [Parameter]
    public RenderFragment? ChildContent { get; set; } = null;
    [Parameter]
    public EventCallback OnClick { get; set; }
    [Parameter]
    public bool IsDisabled { get; set; } = false;


    private IJSObjectReference? _jsModule = default!;
    private string _contentButtonId = $"content-button-{Guid.NewGuid()}";
    private string _buttonId = $"button-{Guid.NewGuid()}";
    private string _spinnerButtonId = $"spinner-button-{Guid.NewGuid()}";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _jsModule = await JS.InvokeAsync<IJSObjectReference>(
                "import", "./Components/Common/Buttons/UbikButton.razor.js");
        }
    }

    public async Task LoadingStateAsync()
    {
        await _jsModule!.InvokeVoidAsync("loadingModeUp", new[] { _contentButtonId, _spinnerButtonId, _buttonId });
    }

    public async Task LoadingStateFinishedAsync()
    {
        await _jsModule!.InvokeVoidAsync("loadingModeDown", new[] { _contentButtonId, _spinnerButtonId, _buttonId });
    }

    private async Task ClickAsync()
    {
        await OnClick.InvokeAsync();
    }
}
