@using Ubik.Accounting.WebApp.Client.Components.Common.Alerts;
@using Ubik.Accounting.WebApp.Client.Components.Common.Buttons;
@using Ubik.Accounting.WebApp.Client.Components.Common.Search
@using Ubik.Accounting.Webapp.Shared.Features.Classifications.Models
@using Ubik.Accounting.WebApp.Client.Components.Common.Grid
@using Ubik.Accounting.WebApp.Client.Components.Common.Grid.Columns
@using Ubik.Accounting.Webapp.Shared.Features.Classifications.Services
@using Ubik.Accounting.WebApp.Client.Components.Common.Grid.Pagination
@using Ubik.Accounting.Webapp.Shared.Facades
@using Ubik.Accounting.Contracts.Accounts.Results
@using Ubik.Accounting.Contracts.Accounts.Commands

@inject ClassificationStateService CurrentState
@inject IRenderContext RenderContext
@inject IAccountingApiClient Client

@implements IDisposable

<div class="m-4 flex flex-col">
    <div>
        <h3 class="font-normal text-gray-500 dark:text-gray-400">Select an account to be attached to the group (@AccountGroup.Code)</h3>
    </div>
    <div class="mt-2">
        <UbikSimpleSearchBar @bind-Value="@_searchValue" PlaceHolderMsg="Search for codes or labels" />
    </div>
    <div class="max-w-full overflow-x-auto rounded-lg shadow-md">
        @if (_searchedAccounts != null)
        {
            <UbikGrid ForceCursorPointerForRow="true"
                      Items="@_searchedAccounts"
                      TGridItem="AccountModel"
                      HighlightFirstColumn="true"
                      Pagination="pagination"
                      KeyFieldForRowClick="Id"
                      OnRowClick="AttachAccount">

                <UbikColumnProperty Title="Code" Property="@(a=> a.Code)" Sortable="true" IsDefaultSortColumn="true" InitialSortDirection="SortDirection.Ascending"></UbikColumnProperty>
                <UbikColumnProperty Title="Label" Property="@(a=> a.Label)" Sortable="true"></UbikColumnProperty>
            </UbikGrid>
        }
    </div>
    @if (_numberOfAccounts != -1 && _numberOfAccounts > ITEMS_PER_PAGE)
    {
        <div class="mt-3 text-sm">
            <UbikPaginator State="@pagination" />
        </div>
    }
    <div class="mt-4">
        <UbikButtonCancel Label="Cancel" OnClick="()=>CloseAsync(false)"></UbikButtonCancel>
    </div>
    <div class="mt-3 flex flex-col text-left">
        <MsgSuccess @ref="_successMsg" SuccessMessage="please wait, this window is closing ..."></MsgSuccess>
        <ErrBackendApi @ref="_backendErrorMsg" MainErrorMsg="Cannot attach account."></ErrBackendApi>
    </div>
</div>


@code {
    [CascadingParameter(Name = "AccountGroupModel")]
    public AccountGroupModel AccountGroup { get; set; } = default!;

    [Parameter]
    public EventCallback<bool> OnCloseAsync { get; set; }

    private const int ITEMS_PER_PAGE = 5;

    private string _searchValue = string.Empty;
    private IQueryable<AccountModel>? _accounts;
    private bool _firstRender = true;
    private int _numberOfAccounts = -1;
    private ErrBackendApi _backendErrorMsg = default!;
    private MsgSuccess _successMsg = default!;

    PaginationState pagination = new PaginationState { ItemsPerPage = ITEMS_PER_PAGE };


    private IQueryable<AccountModel>? _searchedAccounts
    {
        get
        {
            if (_accounts == null || _searchValue == string.Empty)
                return _accounts;

            var result = _accounts;

            if (_searchValue != string.Empty)
                result = result.Where(a => a.Code.ToLower().Contains(_searchValue.ToLower())
                                        || a.Label.ToLower().Contains(_searchValue.ToLower()));

            _numberOfAccounts = result.Count();

            return result;
        }
    }

    protected override void OnInitialized()
    {
        if (RenderContext.IsPrerendering)
        {
            return;
        }
    }

    public override Task SetParametersAsync(ParameterView parameters)
    {
        if (_firstRender)
        {
            CurrentState.OnChangeClassification += OnClassificationChanged;
            CurrentState.OnChangeData += OnDataChanged;
        }

        parameters.SetParameterProperties(this);

        _firstRender = false;

        return base.SetParametersAsync(ParameterView.Empty);
    }

    public async Task SetInitialStatus()
    {
        await _successMsg.HideSuccessAsync();
        await _backendErrorMsg.DismissErrorAsync();
    }

    private void LoadMissingAccounts()
    {
        _accounts = CurrentState.CurrentClassificationMissingAccounts.Values.AsQueryable();
        _numberOfAccounts = _accounts.Count();
    }

    private async Task AttachAccount(string accountId)
    {
        var accountGuid = Guid.Parse(accountId);
        await SetInitialStatus();

        var response = await Client.AddAccountInAccountGroupAsync(new AddAccountInAccountGroupCommand
            {
                AccountGroupId = AccountGroup.Id,
                AccountId = accountGuid
            });

        if (response != null && response.IsSuccessStatusCode)
        {
            await _successMsg.ShowSuccessAsync();
            await ManageResponseReturns(response);

            LoadMissingAccounts();

            StateHasChanged();
            await Task.Delay(700);

            await CloseAsync(true);
        }
        else
        {
            await _backendErrorMsg.ShowErrorAsync(response);
            StateHasChanged();
        }
    }

    private async Task ManageResponseReturns(HttpResponseMessage response)
    {

        var result = await response.Content.ReadFromJsonAsync<AddAccountInAccountGroupResult>();

        if (result == null)
            throw new ArgumentNullException("Cannot access response result for AddAccountInAccountGroupResult");

        var resultModel = result.ToAccountGroupLinkModel();

        CurrentState.AttachAccountInAccountGroup(resultModel);
    }

    private void OnClassificationChanged(object? sender, EventArgs e)
    {
        LoadMissingAccounts();
        InvokeAsync(StateHasChanged);
    }

    private void OnDataChanged(object? sender, EventArgs e)
    {
        LoadMissingAccounts();
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        CurrentState.OnChangeClassification -= OnClassificationChanged;
        CurrentState.OnChangeData -= OnDataChanged;
    }

    private async Task CloseAsync(bool withRefresh = false)
    {
        await OnCloseAsync.InvokeAsync(withRefresh);
    }
}
