@using Ubik.Accounting.Contracts.Accounts.Results
@using Ubik.Accounting.Contracts.Currencies.Results
@using Ubik.Accounting.Contracts.Error
@using Ubik.Accounting.Webapp.Shared.Facades
@using Ubik.Accounting.WebApp.Client.Components.Common.Modal
@using Ubik.Accounting.WebApp.Client.Components.Common.Grid

@inject IAccountingApiClient Client
@inject IRenderContext RenderContext
@attribute [Authorize]
@rendermode InteractiveAuto

<button type="button" @onclick="ShowDialog" class="font-semibold text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Add</button>
<CascadingValue Name="AccountModel" Value="@_accountCurrent">
    <UbikModal @ref="_modal" ButtonLabel="Add" DialogTitle="Add an account" CloseOnClickOutisde="false">
        <AccountForm CurrenciesList="_currencies" OnClose="CloseDialog"></AccountForm>
    </UbikModal>
</CascadingValue>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg max-w-max">
    <UbikGrid Items="@_accounts" FieldNames="@_gridAccountFields">

    </UbikGrid>
</div>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg max-w-max">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Code
                </th>
                <th scope="col" class="px-6 py-3">
                    Label
                </th>
                <th scope="col" class="px-6 py-3">
                    Domain
                </th>
                <th scope="col" class="px-6 py-3">
                    Category
                </th>
                <th scope="col" class="px-6 py-3">

                </th>
                <th scope="col" class="py-4 py-3">

                </th>
            </tr>
        </thead>
        <tbody>
            @if (!_isLoading && _accounts != null)
            {
                @foreach (var a in _accounts)
                {
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            @a.Code
                        </th>
                        <td class="px-6 py-4">
                            @a.Label
                        </td>
                        <td class="px-6 py-4">
                            @a.Domain
                        </td>
                        <td class="px-6 py-4">
                            @a.Category
                        </td>
                        <td class="py-4 py-3">
                            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                        </td>
                        <td class="py-4 py-3">
                            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline pr-4">Delete</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <td colspan="7" class="w-full text-center">
                        <div class="w-full">
                            <svg aria-hidden="true" class="inline w-16 sm:w-24 py-3 sm:py-5 h-16 sm:h-24 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor" />
                                <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill" />
                            </svg>
                        </div>
                        <div class="w-full mb-2 sm:mb-4">
                            <span>Loading...</span>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@*
@if(_error is not null)
{
    @_error
    @_error.Errors[0]
} *@

@code {
    private IQueryable<AccountModel>? _accounts;
    private IEnumerable<GetAllCurrenciesResult>? _currencies;
    private ProblemDetailsContract? _error;
    [CascadingParameter]
    private Task<AuthenticationState>? _authenticationState { get; set; }
    private bool _isLoading = true;
    private UbikModal _modal = default!;
    private AccountModel _accountCurrent = new();
    private List<string> _gridAccountFields = new () { "Code", "Label", "Domain", "Category" };

    protected override async Task OnInitializedAsync()
    {
        if (RenderContext.IsPrerendering)
        {
            return;
        }

        if (_authenticationState is not null)
        {
            await _authenticationState;
            await LoadAccountsAsync();
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadCurrenciesAsync();
        }
    }

    private async Task ShowDialog()
    {
        await _modal.ShowDialog();
    }

    private async Task CloseDialog()
    {
        await _modal.CloseDialog();
    }

    private async Task LoadAccountsAsync()
    {
        _isLoading = true;
        var response = await Client.GetAllAccountsAsync();

        if (response.IsSuccessStatusCode)
        {
            var result = (await response.Content.ReadFromJsonAsync<IEnumerable<GetAllAccountsResult>>() ?? []).ToAccountModel();
            _accounts = result.AsQueryable();
        }
        else
        {
            //TODO: IMPLEMENT ERROR HANDLING for PROBLEM DETAILS (and global exception handler)
            //_error = await responseAccountTest.Content.ReadFromJsonAsync<ProblemDetailsContract>();
        }
        _isLoading = false;
    }

    //TODO: see to load that at the correct time to avoid reloading
    private async Task LoadCurrenciesAsync()
    {
        var response = await Client.GetAllCurrenciesAsync();

        if (response.IsSuccessStatusCode)
        {
            _currencies = (await response.Content.ReadFromJsonAsync<IEnumerable<GetAllCurrenciesResult>>() ?? []);
        }
        else
        {
            //TODO: IMPLEMENT ERROR HANDLING for PROBLEM DETAILS (and global exception handler)
            //_error = await responseAccountTest.Content.ReadFromJsonAsync<ProblemDetailsContract>();
        }
    }
}
