@using Ubik.Accounting.WebApp.Client.Components.Common.Buttons
@using Ubik.Accounting.Contracts.Accounts.Enums
@using Ubik.Accounting.Contracts.Currencies.Results

@inject IJSRuntime JS

<EditForm id="@_filtersId" Model="@Filters" FormName="AccountFilters" class="mb-3 mt-2 flex hidden w-full justify-end text-sm md:mb-0 md:mt-0">
    <div class="flex w-full flex-col rounded-lg border bg-white p-3 shadow dark:bg-gray-800 md:w-auto md:absolute md:z-10 @(Filters.IsFiltersApplied ? "border-purple-700 dark:border-purple-400" :"border-blue-700 dark:border-blue-600")">
        <div class="grid-cols-2 grid gap-2">
            <div class="col-span-1">
                <UbikInputSelect Id="FilterCcy" TValue="Guid?"
                                 ValueExpression="@(() => Filters.CurrencyFilter)" Value="@Filters.CurrencyFilter"
                                 ValueChanged="@((Guid? args) => Filters.CurrencyFilter = args)"
                                 Label="Currency" PlaceholderText=""
                                 Data="CurrenciesList" DataKey="Id" DataValue="IsoCode"></UbikInputSelect>
            </div>
            <div class="col-span-1">
                <UbikInputSelect Id="FilterDomain" TValue="AccountDomain?"
                                 ValueExpression="@(() => Filters.DomainFilter)" Value="@Filters.DomainFilter"
                                 ValueChanged="@((AccountDomain? args) => Filters.DomainFilter = args)"
                                 Label="Domain" PlaceholderText=""></UbikInputSelect>
            </div>
            <div class="col-span-1">
                <UbikInputSelect Id="FilterCategory" TValue="AccountCategory?"
                                 ValueExpression="@(() => Filters.CategoryFilter)"
                                 Value="@Filters.CategoryFilter"
                                 ValueChanged="@((AccountCategory? args) => Filters.CategoryFilter = args)"
                                 Label="Category" PlaceholderText=""></UbikInputSelect>
            </div>
            <div class="col-span-1">
                <UbikInputToggle Id="FilterInactive"
                                 Label="Show inactive"
                                 Value="@Filters.ShowInactive"
                                 ValueExpression="@(() => Filters.ShowInactive)"
                                 ValueChanged="@((bool args) => Filters.ShowInactive = args)">
                </UbikInputToggle>
            </div>
        </div>
        <div class="mt-3 flex justify-between">
            <div>
                <UbikButton Label="Apply" OnClick="ApplyFiltersAsync"></UbikButton>
            </div>
            <div>
                <UbikButtonAlternative Label="Reset" OnClick="ResetValues"></UbikButtonAlternative>
            </div>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public AccountFiltersModel Filters { get; set; } = default!;
    [Parameter]
    public List<CurrencyStandardResult> CurrenciesList { get; set; } = default!;
    [Parameter]
    public EventCallback OnApplyFilters { get; set; }

    private string _filtersId = $"account-filters{Guid.NewGuid()}";

    public void ResetValues()
    {
        Filters.DomainFilter = null;
        Filters.CategoryFilter = null;
        Filters.CurrencyFilter = null;
        Filters.ShowInactive = false;
    }

    public async Task ApplyFiltersAsync()
    {
        if (Filters.CurrencyFilter == null
            && Filters.DomainFilter == null
            && Filters.CategoryFilter == null
            && !Filters.ShowInactive)
            Filters.IsFiltersApplied = false;
        else
            Filters.IsFiltersApplied = true;

        await OnApplyFilters.InvokeAsync();
        await OpenCloseFiltersAsync();
    }

    public async Task OpenCloseFiltersAsync()
    {
        await JS.InvokeVoidAsync("toggleVisibility", _filtersId);
    }
}
